.about-container {
  width: 100;
  height: auto;
  font-family: 'NEXON Lv2 Gothic';
  word-break: keep-all;
  background-color: white;
}

/* 메인 */
.about-main {
  width: 100%;
  height: 60vh;
  position: relative;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 0;
  }
}

.about-main-text {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 5% 3% 0 8%;

  & h1 {
    margin: 0 0 2rem 0;
    font-family: 'Inter';
    font-size: 2.9rem;
    font-weight: 700;
    color: white;
  }

  & p {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2.2;

    &:nth-last-child(1) {
      margin-bottom: 1rem;
    }
  }
}

/* 메인 미디어 쿼리 */
@media (max-width: 900px) {
  .about-main {
    min-height: 35vh;
    height: fit-content;
  }

  .about-main-text {
    justify-content: center;

    & h1 {
      font-size: 2.5rem;
    }

    & p {
      font-size: 1rem;
    }
  }
}

/* 키워드 */
@keyframes keywordMouse {
  10% {
    transform: translate(20%, 20%);
  }
  45% {
    transform: rotate(-25deg) translate(-120%, -50%);
    color: #c0c0c0;
  }
  47% {
    color: rgb(103, 103, 103);
  }
  53% {
    color: rgb(103, 103, 103);
  }
  55% {
    transform: rotate(-25deg) translate(-120%, -50%);
    color: #c0c0c0;
  }
  90% {
    transform: translate(20%, 20%);
  }
}

.about-keyword {
  width: 100%;
  margin: 10vh 0;
  height: fit-content;
  display: flex;
  flex-direction: column;

  & h1 {
    cursor: pointer;
    align-self: center;
    padding: 0 2px;
    margin: 0 0 40px 0;
    font-family: 'Inter';
    font-size: 2.8rem;
    font-weight: 700;
    color: black;
    box-shadow: inset 0 -6px 0 #ffee58;
    border: none;
    position: relative;
    transition: box-shadow 0.2s, color 0.2s;

    & span {
      color: #0066ff;
      transition: color 0.2s;
    }

    & svg {
      font-size: 40px;
      color: #c0c0c0;
      position: absolute;
      right: -40px;
      bottom: -10px;
      transform: translate(20%, 20%);
      animation: keywordMouse 3s linear infinite;
    }

    &:active {
      box-shadow: inset 0 -3.5rem 0 #3184ff;
      color: #fff;
      & span {
        color: #fff;
      }
    }

    &:not(:active) {
      box-shadow: inset 0 -6px 0 #ffee58;
      color: black;
      transition: box-shadow 0.2s, color 0.2s;
      & span {
        color: #0066ff;
      }
    }
  }
}

.about-keyword-slide {
  width: 100%;
  overflow-x: hidden;
  background-color: #3184ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}

.about-keyword-slide-text {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  & h4 {
    margin-top: calc(1.5vh + 35px);
    margin-bottom: 2vh;
    font-family: 'Inter';
    font-size: 4.5rem;
    font-weight: 700;
  }

  & p {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
    color: white;

    &:nth-last-child(1) {
      margin-bottom: calc(1.5vh + 35px);
    }
  }
}

.slide__1 h4 {
  color: #ff6883;
  text-shadow: 5px 3px 0 #faff00;
}

.slide__2 h4 {
  color: #faff00;
  text-shadow: 5px 3px 0 #ff6883;
}

.slide__3 h4 {
  color: #00ff1a;
  text-shadow: 5px 3px 0 #ff6883;
}

.about-keyword-slide-rectangle {
  width: 20vw;
  height: 10px;
  background-color: white;
  position: relative;
  transition: transform 1s ease;

  &.rectangle__1 {
    align-self: flex-start;
    top: 25px;
    left: 30px;
  }

  &.rectangle__2 {
    align-self: flex-end;
    bottom: 25px;
    right: 30px;
  }
}

/* 키워드 미디어 쿼리 */
@media (max-width: 900px) {
  .about-keyword {
    margin: 7vh 0;
  }

  .about-keyword-slide-text {
    & h4 {
      font-size: 3.5rem;
    }

    & p {
      font-size: 1rem;
    }
  }

  .about-keyword-slide-rectangle {
    height: 5px;

    &.rectangle__1 {
      top: 15px;
    }
    &.rectangle__2 {
      bottom: 15px;
    }
  }
}

/* 활동, 액티비티 */
.about-activity {
  max-width: 100%;
  margin: 0 5vh;

  & h1 {
    font-family: 'Inter';
    font-size: 2.7rem;
    font-weight: 700;
    color: black;
  }
}

.about-activity-content {
  max-width: 100%;
  margin: 2% 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-activity-left,
.about-activity-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.about-activity-left {
  align-items: flex-end;
  margin-right: 2%;
}

.about-activity-right {
  align-items: flex-start;
  margin-left: 2%;
}

.about-activity-img {
  width: 85%;
  height: 20vw;
  padding: 3% 7%;
  background-color: #cbddff99;
  position: relative;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & .about-activity-right-img-border {
    width: 106%;
    height: 106%;
    position: absolute;
    top: -3%;
    left: -3%;
    border: 3px dashed #0066ff;
    border-radius: 10px;
  }
}

.about-activity-left-text,
.about-activity-right-text {
  width: 85%;
  padding: 3%;
  font-size: 1.4rem;
  line-height: 2;
  color: #11438e;
  background-color: #d3e2ff4d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  & p {
    font-weight: 500;

    & span {
      font-weight: 700;
    }
  }
}

.about-activity-left-text {
  align-items: flex-start;
  left: -5%;
}

.about-activity-right-text {
  align-items: flex-end;
  text-align: end;
  right: -5%;
}

#about-logo {
  font-family: 'Black Han Sans';
  font-size: 1.7rem;
  font-weight: 400;
  color: #0066ff;
}

/* 액티비티 미디어 쿼리 */
@media (max-width: 1050px) {
  .about-activity {
    margin: 0 4%;
  }

  .about-activity-content {
    margin: 2% 0;
  }

  .about-activity-left,
  .about-activity-right {
    align-items: center;
    gap: 2vh;

    & .about-activity-img {
      width: 100%;
      height: 25vw;
    }
  }

  .about-activity-left {
    margin-right: 1%;
  }
  .about-activity-right {
    margin-left: 1%;
  }

  .about-activity-left-text,
  .about-activity-right-text {
    width: 95%;
    font-size: 1rem;
  }

  #about-logo {
    font-size: 1.2rem;
  }
}

/* 테크스택 */
.about-tech {
  width: 100%;
  margin: 15vh 0;
}

.about-tech-top {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  color: #11438e;

  & h4 {
    font-weight: 500;
    line-height: 1.4;
    margin: 0;

    & span {
      font-weight: 700;
    }
  }
}

.about-tech-stack {
  width: 100%;
  display: flex;
  flex-direction: column;

  & h1 {
    align-self: flex-end;
    padding: 0.5rem 5% 0.5rem 10%;
    margin-bottom: 10px;
    font-family: 'Inter';
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    background-color: #3184ff;
  }
}

.about-tech-stack-list {
  width: 100%;
  padding: 20px 0;
  background-color: #dde6ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about-tech-stack-list-top,
.about-tech-stack-list-bottom {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.techstack-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  & p {
    font-family: 'Inter';
    font-size: 1.2rem;
    color: #11438e;
    font-weight: bold;
  }
}

.techstack {
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: white;
  & img {
    width: 80%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: all 0.5s ease;
  }

  &:hover {
    & img {
      transform: scale(1.1);
    }

    & svg {
      font-size: 150px;
    }
  }
}

.about-js {
  border: 3px solid #f7df1f;
}
.about-react {
  border: 3px solid #00d8ff;
}
.about-mysql {
  border: 3px solid #98c9c3;
}
.about-github {
  border: 3px solid black;
  & img {
    width: 90%;
  }
}
.about-aws {
  border: 3px solid #ff9900;
}

/* 테크스택 - 리액트 애니메이션 */
@keyframes react-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.about-react {
  border: 3px solid #00d8ff;

  & svg {
    font-size: 130px;
    color: #00d8ff;
    transition: font-size 0.5s ease;
    animation: react-spin 3s infinite;
  }
}

/* 테크스택 - 노드js 애니메이션 */
@keyframes nodejs {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
}

.about-nodejs {
  position: relative;
  border: 3px solid #6bc049;

  & img {
    width: 90%;
    height: 90%;
    object-fit: cover;
  }

  .about-nodejs-back {
    filter: drop-shadow(5px 5px 5px gray);
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 1;
    opacity: 0;
    animation: nodejs 4s linear 2s infinite;
  }
}

/* 테크스택 가로박스 */
.about-tech-stack-rectangle {
  width: 20vw;
  height: 10px;
  background-color: #3184ff;
  position: absolute;

  &.rectangle__1 {
    top: 15px;
    left: 30px;
  }
  &.rectangle__2 {
    bottom: 15px;
    right: 30px;
  }
}

/* 테크스택 미디어 쿼리 */
@media (max-width: 900px) {
  .about-tech {
    margin: 10vh 0 7vh 0;
  }

  .about-tech-top {
    font-size: 1rem;
    padding: 0 2%;
  }

  .about-tech-stack {
    & h1 {
      font-size: 2rem;
    }
  }

  .techstack-container {
    width: 20%;
    & p {
      font-size: 0.8rem;
    }
  }

  .techstack {
    border-width: 1.5px;
    &:hover {
      & svg {
        font-size: 15vw;
      }
    }
  }

  .about-react svg {
    font-size: 13vw;
  }

  .about-tech-stack-rectangle {
    height: 5px;
  }
}

/* 퀴푸 개발팀, 퀴푸뎁, 퀴푸디브 */
.about-dev {
  max-width: 100%;
  margin: 0 22%;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ebf0ff;
  border-radius: 20px;

  & p {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2.2;
    color: #11438e;
    text-align: center;

    & span {
      font-weight: 700;
    }
  }
}

.about-dev-button {
  margin-top: 5vh;
  width: 45%;
  position: relative;

  & button {
    cursor: pointer;
    width: 100%;
    margin: 0;
    padding: 3% 0 4% 0;
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    text-align: center;
    background: #0066ffcc;
    box-shadow: -5px -5px 4px 0px #00000040 inset;
    border: none;
    border-radius: 10px;
    transition: all 0.2s;
    position: relative;

    &:active {
      box-shadow: 5px 5px 4px 0px #00000040 inset;
      transform: translateY(3px);
    }

    &:not(:active) {
      transform: translateY(0);
      transition: transform 0.2s ease;
    }
  }

  & img {
    width: 55px;
    aspect-ratio: 1/1;
    position: absolute;
    right: -9%;
    bottom: -45%;
  }
}

.about-dev-button-list {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
}

.about-dev-button-list p {
  font-weight: 600;
  border-radius: 10px;
  background-color: #cbddff;
  z-index: 1;
  color: #11438e;
  transition: color 0.5s;

  &:hover {
    color: white;
  }

  &:after {
    position: absolute;
    content: '';
    width: 0;
    height: 50%;
    left: 0;
    z-index: -1;
    background-color: #5e88d799;
    border-radius: 10px;
    transition: width 0.5s;
  }

  &:nth-child(1):after {
    top: 0;
  }

  &:nth-child(2):after {
    top: calc(50% + 1px);
  }

  &:nth-child(1):hover:after {
    width: 100%;
  }

  &:nth-child(2):hover:after {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .about-dev {
    padding: 3vh 3%;
    margin: 5vh 7%;
    margin-bottom: 0;

    & p {
      font-size: 1rem;
    }
  }

  .about-dev-button {
    margin-top: 3vh;
    width: 50%;

    & button {
      font-size: 1.5rem;
      padding: 3% 3% 4% 3%;
    }

    & img {
      width: 40px;
      right: -6%;
      bottom: -40%;
    }
  }
}

@media (max-width: 600px) {
  .about-dev-button {
    & button {
      font-size: 1.5rem;
      padding: 3% 3% 4% 3%;
    }

    & img {
      width: 40px;
      right: -9%;
      bottom: -50%;
    }
  }
}
