    .showcasemainMobile {
        background-color: rgba(254, 251, 255, 1);
        padding: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        top: 0;
        overflow-y: auto;
    }

    .showcasemainMobile-nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    
    .showcasemainMobile-logo {
        margin: 1.5% 0 2% 10px;
    }

    .showcasemainMobile-logo a {
        text-align: left;
        font-size: 1.8rem;
        font-family: "Lora", serif;
        font-weight: 700;
        color: rgba(131, 94, 134, 1);
        background-color: transparent;
        text-decoration: none;
    }

    .showcasemainMobile-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .ShowcasemainMobile-Dropdown {
        box-sizing: border-box;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        font-family: "Lora";
        font-size: 1rem;
        font-weight: 500;
        color: #835286;
        background-color: #FFFFFF;
        width: 28%;
        padding: 2px 1%;
        margin: 2vh 2.5% 0 2.5%;
        border: 1.5px solid #567FBB57;
        border-top-left-radius: 1vh;
        border-top-right-radius: 1vh;
        position: relative;
        z-index: 10;
    }
    
    .showcasemainMobile-Dropdown-top {
        cursor: pointer;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .Dropdown-list {
        box-sizing: border-box;
        list-style-type: none;
        width: calc(100% + 2.67px);
        position: absolute;
        top: calc(100% + 2.5px);
        left: -1.3px;
        overflow-x: hidden;
        overflow-y: auto;
        background: #FFFFFF;
        font-family: "Lora";
        font-size: 1rem;
        border: 1.5px solid #567FBB57;
        border-bottom-left-radius: 1vh;
        border-bottom-right-radius: 1vh;

        & li {
            cursor: pointer;
            width: 100%;
            padding: 3%;
            transition: all 0.3s ease;
            color: #835286B2;
            border-bottom: 1.5px solid #567FBB57;

            &:nth-last-child(1) {
                border-bottom: none;
            }

            &:hover {
                background-color: #FBF3FF;
                color: #835286;
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .showcasemainMobile-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .showcasemainMobile-main button {
        margin: 3%;
        padding: 1% 5%;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        border: 1.5px solid #835E86;
        color: #835E86;
        font-family: 'Nexon Lv2 Gothic';
        font-size: 1rem;
        font-weight: bold;
        transition: all 0.3s ease;
    }

    .showcasemainMobile-main button:hover {
        background-color: #ae7eaf;
        color: white;
    }

    .showcasemainMobile-section1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        padding: 3%;
        border: 1px solid #0000001A;
    }

    .showcasemainMobile-gallery1 {
        padding: 3%;
        width: 95%;
        background-color: #F1CC8438;
    }

    .showcasemainMobile-gallery1 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .showcasemainMobile-section2 {
        width: 95%;
        height: 97vh;
        padding: 3%;
        border: 1px solid #0000001A;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    
    .section2-gallery1 {
        z-index: 1;
        background: linear-gradient(0deg, rgba(241, 204, 132, 0.22), rgba(241, 204, 132, 0.22));
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 2%;
        position: absolute; /* 절대 위치로 설정하여 겹침 */
    }
    
    .section2-gallery1 img {
        width: 90%;
        object-fit: cover;
    }
    
    .section2-text{
        z-index: 2;
        background-color: white;
        display: inline-flex;
        width: 60%;
        max-width: 250px;
        flex-direction: column;
        align-self: flex-end;
        justify-content: center;
        padding: 2%;
        border: 1px solid #0000001A;
        position: absolute; /* 절대 위치로 설정하여 겹침 */
        top: 25vh;
    }
    .section2-text h4 {
        margin-top: 1%;
        color: #18101096;
        font-family: "Lora";
        font-size: 1.1rem;
    }
    .section2-text p {
        color: #01010196;
        font-family: "Lora";
        font-size: 0.8rem;
    }

    .section2-gallery2{
        z-index: 1;
        top: 45vh;
        background: linear-gradient(0deg, rgba(241, 204, 132, 0.22), rgba(241, 204, 132, 0.22));
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 2%;
        position: absolute; /* 절대 위치로 설정하여 겹침 */
    }
    .section2-gallery2 img{
        width: 90%;
        object-fit: cover;
    }
    .section2-gallery3{
        z-index: 2;
        top: 65vh;
        background: white;
        border: 1px solid #0000001A;
        display: inline-flex;
        align-self: flex-end;
        justify-content: center;
        padding: 2%;
        position: absolute; /* 절대 위치로 설정하여 겹침 */
    }
    .section2-gallery3 img{
        width: 90%;
        object-fit: cover;
    }
    
    
    .showcasemainMobile-section3 {
        width: 95%;
        padding: 3%;
        border: 1px solid #0000001A;
        display: flex;
        justify-content: center;
    }
    
    .showcasemainMobile-gallery3 {
        min-height: 200px;
        padding: 3%;
        width: 95%;
        background: #957CDD3B;
    }
    
    .showcasemainMobile-gallery3 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    @media (max-height:900px) and (min-height: 600px) {
        .showcasemainMobile-section2 {
            height: 60vh;
        }
        .section2-gallery1{
            height: 17vh;
        }
        .section2-text{
            top: 14vh ;
            height: 17vh;
        }
        .section2-gallery2{
            height: 17vh;
            top: 29vh ;
        }
        .section2-gallery3{
            height: 17vh;
            top: 42vh ;
        }
    }
    @media (min-height: 900px) {
        .showcasemainMobile-section2 {
            height: 64vh;
        }
        .section2-gallery1{
            height: 17vh;
        }
        .section2-text{
            top: 16vh ;
            height: 17vh;
            & p{
                font-size: 0.8rem ;
            }
        }
        .section2-gallery2{
            height: 16vh;
            top: 31vh ;
        }
        .section2-gallery3{
            height: 18vh;
            top: 44vh ;
        }
    }