.showcasemain-house {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showcasemain-house * {
  font-family: 'Pretendard-Regular', 'Lora';
  font-family: 'RIDIBatang', 'Lora';
}

.showcasemain-house .back-button {
  font-size: 2rem;
  color: #835e86;
  position: absolute;
  left: 20px;
  top: 90px;
  cursor: pointer;
}

.showcasemain-container {
  max-width: 1150px;
  width: 100%;
  height: 100%;
}

.showcasemain-nav {
  height: fit-content;
  border-bottom: 1px solid #0000001a;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.showcasemain-logo {
  margin: 0.5% 3% 1% 3%;
  font-style: italic;
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
}

.showcasemain-logo a {
  text-decoration: none;
  color: #835e86;
}

.showcasemain {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 21px;
  width: 80%;
  height: 13%;
  border: 1px solid #0c0b0b1a;
}

@media (max-width: 900px) {
  .section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 21px;
    width: 86%;
    height: 13%;
    border: 1px solid #0c0b0b1a;
  }
}

.section2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  aspect-ratio: 1.5/1;
}

.showcasemain-list {
  padding: 1%;
  margin: 0 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 12%;
  height: 60px;
  font-size: 1.8rem;
  color: #8f6e92;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 100%;
  transition: font-size 0.5s ease;
}

.showcasemain-list:hover {
  font-size: 2.2rem;
}

.gallery {
  min-width: 400px;
  width: 50%;
  aspect-ratio: 1.5/1;
  border: 1px solid #0c0b0b1a;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery1 {
  width: 95%;
  height: 95%;
  background: linear-gradient(0deg, rgba(241, 204, 132, 0.22), rgba(241, 204, 132, 0.22));
  border: 1px solid #0c0b0b1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery1 img {
  object-fit: cover;
  width: 92%;
  aspect-ratio: 1.5/1;
  height: 92%;
}

.gallery2 {
  width: 95%;
  height: 95%;
  background: #e0abba8f;
  border: 1px solid #0c0b0b1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery2 h3 {
  padding: 3%;
  font-family: 'Lora';
  font-size: 1.5rem;
  text-align: left;
  color: #000000;
}

.gallery3 {
  box-sizing: border-box;
  width: 47%;
  height: 46%;
  margin: 1%;
  background:#d1e5c0;
  border: 1px solid #0c0b0b1a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery3 img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}
.gallery3-text {
  padding: 2.5%;
  display: flex;
  flex-direction: column;
}

.gallery3-text h4 {
  margin-top: 0;
  color: #18101096;
  text-align: left;
  font-size: 2.5rem;
  margin-bottom: 1%;
}

.gallery3-text p {
  object-fit: cover;
  color: #01010196;
  text-align: left;
  font-size: 0.8rem;
}

.gallery3 h4 {
  display: block;
}

.gallery4 {
  width: 95%;
  height: 95%;
  border: 1px solid #0c0b0b1a;
  background: linear-gradient(0deg, rgba(149, 124, 221, 0.23), rgba(149, 124, 221, 0.23));
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery4 img {
  width: 92%;
  height: 92%;
  object-fit: cover;
}

.view-button {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  width: 7%;
  height: 5vh;
  border-radius: 29px;
  border: 1.5px solid #835e86;
  color: #835e86;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.5s ease;
}

.view-button:hover {
  background-color: #ae7eaf;
  color: white;
}

.mobile-view {
  width: 100%;
  background-color: rgba(254, 251, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
